# Virtual environments
venv/
.venv/
env/
ENV/

# Environment files
.env
.env.*
*.env


# LangChain / LangGraph specific
.langgraph_api/
.langchain/
.langsmith/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.pytest_cache/

# macOS specific
.DS_Store

# IDEs
.idea/
.vscode/

# Other